<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team5.projrental.payment.review.PaymentReviewMapper">

    <insert id="insReview" useGeneratedKeys="true" keyProperty="ireview">
        INSERT INTO review
        set
        iuser = #{iuser}
        ,ipayment = #{ipayment}
        , contents = #{contents}
        , rating = #{rating}
        , status = #{status}
    </insert>

    <update id="upReview">
        update review
        set
        <if test="contents != null">
            contents = #{contents}
        </if>
        <if test="rating != null">
            ,rating = #{rating}
        </if>
        where ireview = #{ireview}
    </update>

    <update id="delReview">
        update review
        set status = 'DELETED'
        WHERE ireview = #{ireview}
        AND iuser = #{iuser}
    </update>

    <select id="selReIstatus">
        SELECT status
        FROM payment_info
        WHERE ipayment = #{ipayment} and iuser = #{iuser}
    </select>

    <select id="selReview">
        SELECT COUNT(ireview)
        FROM review
        WHERE iuser = #{iuser} and
        ipayment = #{ipayment}
    </select>
    <!--결제의 구매자와바이어인지 / 구매자인지 바이어인지 1이면 구매자 0판매자 -->
    <select id="selBuyRew">
        SELECT count(pa.ipayment) as isExists, if(pa.iuser = #{iuser}, 1, 0) as isBuyer
        from payment pa
        join product P
        ON p.iproduct = pa.iproduct AND pa.ipayment = #{ipayment}
        WHERE p.iuser = #{iuser} or pa.iuser = #{iuser};
    </select>

    <select id="selPatchRev">
        select iuser, ipayment
        FROM review
        WHERE ireview = #{ireview}
    </select>

    <!--평균 별점올리기-->

    <select id="selUser">
        SELECT P.iuser
        FROM product P
        JOIN payment pa
        ON p.iproduct = pa.iproduct
        WHERE PA.ipayment = #{ipayment}
    </select>

    <select id="selRat">
        SELECT COUNT(R.ireview) as countIre, U.rating
        from product P
        JOIN payment PA
        ON P.iproduct = PA.iproduct
        JOIN review R
        ON R.ipayment = PA.ipayment
        JOIN user U
        ON U.iuser = P.iuser
        AND R.rating IS NOT NULL and R.rating > 0
        WHERE P.iuser = #{iuser}
    </select>

    <update id="upRating">
        update user
        set rating = #{rating}
        where iuser = #{iuser}
    </update>
    <select id="sleDelBefor">
        SELECT rating
        FROM review
        WHERE ireview = #{ireview}
    </select>
</mapper>