<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team5.projrental.mypage.MypageMapper">

    <select id="getPaymentList">
        SELECT distinct pa.iproduct, pa.ipayment, pp.stored_pic as ProStoredPic,
        pa.deposit, pa.total_price as totalPrice, pa.rental_end_date as rentalEndDate
        , pa.rental_start_date as rentalStartDate, pa.duration, pa.created_at as createdAt,
        pai.`status`, pr.iuser, u.nick, u.stored_pic as userPic, pr.title,
        pr.main_category AS mainCategoryy, pr.sub_category AS subCategoryy
        from payment pa
        LEFT JOIN payment_info pai
        ON pa.ipayment = pai.ipayment
        LEFT JOIN product pr
        ON pa.iproduct = pr.iproduct
        LEFT JOIN prod_pics pp
        ON pp.iproduct = pa.iproduct
        JOIN `user` u
        ON u.iuser = pr.iuser
        WHERE pa.iuser = #{iuser}
        <if test="istatus != null and istatus == 1">
            and pai.`status` in ('RESERVED', 'ACTIVATED', 'CANCELED')
        </if>
        <if test="istatus != null and istatus == -1">
            and pai.`status` in ('EXPIRED', 'COMPLETED', 'HIDDEN')
        </if>
        GROUP BY pa.ipayment
        ORDER BY pa.ipayment DESC
        LIMIT #{startIdx}, #{rowCount}
    </select>
    <select id="getProductList">
        SELECT distinct pr.iproduct, pa.ipayment, pp.stored_pic as ProStoredPic,
        pa.deposit, pa.total_price as totalPrice, pa.rental_end_date as rentalEndDate
        , pa.rental_start_date as rentalStartDate, pa.duration, pa.created_at as createdAt,
        pai.`status`, pa.iuser, u.nick, u.stored_pic as userPic, pr.title,
        pr.main_category AS mainCategoryy, pr.sub_category AS subCategoryy
        FROM `user` u
        JOIN product pr
        ON u.iuser = pr.iuser
        LEFT JOIN prod_pics pp
        ON pp.iproduct = pr.iproduct
        JOIN payment pa
        ON pa.iproduct = pr.iproduct
        LEFT JOIN payment_info pai
        ON pa.ipayment = pai.ipayment
        WHERE pr.iuser = #{iuser}
        <if test="istatus != null and istatus == 1">
            and pai.`status` in ('RESERVED', 'ACTIVATED', 'CANCELED')
        </if>
        <if test="istatus != null and istatus == -1">
            and pai.`status` in ('EXPIRED', 'COMPLETED', 'HIDDEN')
        </if>
        GROUP BY pr.iproduct
        ORDER BY pr.iproduct DESC
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <select id="getIbuyerReviewList">
        SELECT B.ireview, B.rating, B.`contents`, A.nick, A.stored_pic AS loginedUserPic,
        D.iproduct, D.title, D.stored_pic AS prodPic
        FROM user A
        LEFT JOIN review B
        ON A.iuser = B.iuser
        AND B.`status` = 'ACTIVATED'
        LEFT JOIN payment C
        ON B.ipayment = C.ipayment
        LEFT JOIN product D
        ON C.iproduct = D.iproduct
        WHERE B.iuser = #{iuser}
        ORDER BY B.updated_at DESC
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <select id="getFavList">
        SELECT A.iproduct, A.title, A.`contents`, A.stored_pic AS pic,
        A.rental_price AS rentalPrice, A.iuser, B.stored_pic, B.nick
        , A.main_category as mainCategory, A.sub_category as subCategory
        FROM product A
        LEFT JOIN user B
        ON A.iuser = B.iuser
        JOIN prod_like C
        ON A.iproduct = C.iproduct
        WHERE C.iuser = #{iuser}
        ORDER BY A.updated_at DESC
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <select id="getAllReviewFromMyProduct">
        SELECT R.ireview, R.contents, R.rating, R.iuser, U.nick, U.stored_pic as userProfPic, P.iproduct,
        P.imain_category AS imainCategory,
        P.isub_category AS isubCategory
        FROM product P
        JOIN product_payment PP on P.iproduct = PP.iproduct
        JOIN review R on PP.ipayment = R.ipayment
        JOIN user U on R.iuser = U.iuser
        where P.iuser = #{iuser} and R.contents != '' and R.rating > 0
    </select>
    <select id="getReservePayList">
        SELECT distinct pa.iproduct, pa.ipayment, pp.stored_pic as ProStoredPic,
        pa.deposit, pa.total_price as totalPrice, pa.rental_end_date as rentalEndDate
        , pa.rental_start_date as rentalStartDate, pa.duration, pa.created_at as createdAt,
        pai.`status`, pr.iuser, u.nick, u.stored_pic as userPic
        from payment pa
        LEFT JOIN payment_info pai
        ON pa.ipayment = pai.ipayment
        LEFT JOIN product pr
        ON pa.iproduct = pr.iproduct
        LEFT JOIN prod_pics pp
        ON pp.iproduct = pa.iproduct
        JOIN `user` u
        ON u.iuser = pr.iuser
        WHERE pa.iuser = #{iuser}
            and pai.`status` in ('RESERVED', 'CANCELED')
        GROUP BY pa.ipayment
        ORDER BY pa.ipayment DESC
        LIMIT #{startIdx}, #{rowCount}
    </select>
    <select id="getReserveProcList">
        SELECT distinct pr.iproduct, pa.ipayment, pp.stored_pic as ProStoredPic,
        pa.deposit, pa.total_price as totalPrice, pa.rental_end_date as rentalEndDate
        , pa.rental_start_date as rentalStartDate, pa.duration, pa.created_at as createdAt,
        pai.`status`, pa.iuser, u.nick, u.stored_pic as userPic
        FROM  product pr
        LEFT JOIN prod_pics pp
        ON pp.iproduct = pr.iproduct
        JOIN payment pa
        ON pa.iproduct = pr.iproduct
        LEFT JOIN `user` u
        ON pa.iuser = u.iuser
        LEFT JOIN payment_info pai
        ON pa.ipayment = pai.ipayment
        WHERE pr.iuser = #{iuser}
            and pai.`status` in ('RESERVED', 'CANCELED')
        GROUP BY pr.iproduct
        ORDER BY pr.iproduct DESC
        LIMIT #{startIdx}, #{rowCount}
    </select>
</mapper>