<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team5.projrental.mypage.MypageMapper">

    <select id="getPaymentList">
        SELECT distinct pa.iproduct, pa.ipayment, pp.stored_pic as ProStoredPic,
        pa.deposit, pa.total_price as totalPrice, pa.rental_end_date as rentalEndDate
        , pa.rental_start_date as rentalStartDate, pa.duration, pa.created_at as createdAt,
        pai.`status`, pr.iuser, u.nick, u.stored_pic as userPic
        from payment pa
        LEFT JOIN payment_info pai
        ON pa.ipayment = pai.ipayment
        LEFT JOIN product pr
        ON pa.iproduct = pr.iproduct
        LEFT JOIN prod_pics pp
        ON pp.iproduct = pa.iproduct
        JOIN `user` u
        ON u.iuser = pr.iuser
        WHERE pa.iuser = 10
        GROUP BY pa.ipayment
        ORDER BY pa.ipayment DESC
        LIMIT 0, 10
    </select>
    <select id="getProductList">
        SELECT distinct pr.iproduct, pa.ipayment, pp.stored_pic as ProStoredPic,
        pa.deposit, pa.total_price as totalPrice, pa.rental_end_date as rentalEndDate
        , pa.rental_start_date as rentalStartDate, pa.duration, pa.created_at as createdAt,
        pai.`status`, pr.iuser, u.nick, u.stored_pic as userPic
        FROM `user` u
        LEFT JOIN product pr
        ON u.iuser = pr.iuser
        LEFT JOIN prod_pics pp
        ON pp.iproduct = pr.iproduct
        LEFT JOIN payment pa
        ON pa.iproduct = pr.iproduct
        LEFT JOIN payment_info pai
        ON pa.ipayment = pai.ipayment
        WHERE pr.iuser = #{iuser}
        GROUP BY pr.iproduct
        ORDER BY pr.iproduct DESC
        LIMIT 0, 10
    </select>

    <select id="getIbuyerReviewList">
        SELECT B.iuser, A.nick, A.stored_pic AS loginedUserPic,
        D.imain_category AS imainCategory,
        D.isub_category AS isubCategory,
        D.iproduct, D.title, D.stored_pic AS prodPic, B.ireview, B.rating, B.`contents`
        FROM user A
        LEFT JOIN review B
        ON A.iuser = B.iuser
        LEFT JOIN product_payment C
        ON B.ipayment = C.ipayment
        LEFT JOIN product D
        ON C.iproduct = D.iproduct
        WHERE B.iuser = #{iuser}
        
    </select>

    <select id="getFavList">
        SELECT
        A.updated_at AS updatedAt,
        A.iproduct,
        A.price,
        A.deposit,
        A.title,
        A.stored_pic AS prodPic,
        A.imain_category AS imainCategory,
        A.isub_category AS isubCategory,
        B.iuser AS loginedIuser,
        B.nick,
        B.stored_pic AS pic
        FROM product A
        LEFT JOIN user B
        ON A.iuser = B.iuser
        JOIN like C
        ON A.iproduct = C.iproduct
        WHERE C.iuser = #{loginedIuser}
        ORDER BY A.updated_at DESC
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <select id="getAllReviewFromMyProduct">
        SELECT R.ireview, R.contents, R.rating, R.iuser, U.nick, U.stored_pic as userProfPic, P.iproduct,
        P.imain_category AS imainCategory,
        P.isub_category AS isubCategory
        FROM product P
        JOIN product_payment PP on P.iproduct = PP.iproduct
        JOIN review R on PP.ipayment = R.ipayment
        JOIN user U on R.iuser = U.iuser
        where P.iuser = #{iuser} and R.contents != '' and R.rating > 0
    </select>

</mapper>