<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team5.projrental.board.comment.BoardCommentMapper">
    <insert id="insBoardComment" useGeneratedKeys="true" keyProperty="iboardComment" keyColumn="iboard_comment">
        INSERT INTO board_comment
        SET comment = #{comment}
        , iboard = #{iboard}
        , iuser = #{loginIuser}
        , created_at = #{createdAt}
    </insert>

    <select id="selCommentList">
        SELECT c.iboard_comment AS iboardComment
        , u.iuser, u.nick
        , u.stored_pic AS userPic
        , comment, created_at AS createdAt
        FROM board_comment c
        JOIN user u
        ON c.iuser = u.iuser
        WHERE iboard = #{iboard}
    </select>

    <update id="patchBoardComment">
        UPDATE board_comment
        SET comment = #{comment}
        WHERE iboard_comment = #{iboardComment} and iuser = #{loginIuser}
    </update>

    <delete id="delBoardComment">
        DELETE FROM board_comment
        WHERE iboard_comment = #{iboardComment} and iuser = #{loginIuser}
    </delete>
</mapper>